# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

django<4  # pytz is not a dependency from django 4 anymore, but still required by drf. Drf added it as a dependency in master, but didn't make a release yet. So this can be removed after a new drf release has been made higher than the current 3.12.4
sentry-sdk
django_extensions
django-basicauth
requests
python-dateutil
djangorestframework
django-braces
drf-yasg
odata-request-parser  # Deze library wordt door ons beheerd: https://github.com/Amsterdam/odata_request_parser
django-http-exceptions
certifi>=2022.12.07  # Without this pin a lower version of certifi is installed, which poses a security vulnerability
setuptools>=65.5.1 # Without this pin a lower version of setuptools is installed, which poses a security vulnerability